version: '3.8'

services:
  app:
    build:
      context: .
      dockerfile: Dockerfile
    container_name: turistdata_app
    env_file:
      - .env  # <-- Carga automáticamente las variables desde .env
    environment:
      - PYTHONUNBUFFERED=1  # esto sí puedes dejarlo fijo
    command: python app.py
    ports:
      - "8000:8000"